<nav role="navigation">

  {% assign url = page.url | split: "/" %}

  <ul>
    <li><a href="/{{page.lang.name}}/" style="text-decoration:none;" {% if page.url == "/{{page.lang}}/" %}class="active"{% endif %}>&#x259E;</a></li>
    <li><a href="/{{page.lang.name}}/bio" {% if url[2] == "bio" %}class="active"{% endif %}>Bio</a></li>
    <li><a href="/{{page.lang.name}}/notes" {% if url[2] == "notes" %}class="active"{% endif %}>Notes</a></li>
    <li><a href="/{{page.lang.name}}/contact" {% if url[2] == "contact" %}class="active"{% endif %}>Contact</a></li>
    <li>
      <a href="/en" {% if page.lang.name == "en" %}class="active-language"{% endif %}>EN</a>/<a href="/es" {% if page.lang.name == "es" %}class="active-language"{% endif %}>ES</a>/<a href="/yue" {% if page.lang.name == "yue" %}class="active-language"{% endif %}>YUE</a>
    </li>
  </ul>
</nav>
