<nav role="navigation">
  {% assign url = page.url | split: "/" %}
  <ul>
    <li><a href="/{{page.lang}}">{% if page.lang-ref == "main" %}▚{% else %}▞{% endif %}</a></li>
    {% for item in site.data.navigation.languages %} 
      {% if item.language == page.lang %} 
        {% for link in item.links %} 
          {% if link.url contains "http" %} 
            {% assign url = link.url %} 
          {% else %} 
            {% assign url = link.url | relative_url %} 
          {% endif %} 
          <li><a href="/{{page.lang}}{{ url }}" {% if page.lang-ref == link.lang-ref %}class="active"{% endif %}>{{ link.title }}</a></li>
        {% endfor %} 
      {% endif %} 
    {% endfor %}
    <li class="language">{% for item in site.data.navigation.languages %}{% assign posts=site.posts | where:"lang-ref", page.lang-ref | where:"lang", item.language %}{% if posts.size == 0 %}{% assign posts=site.pages | where:"lang-ref", page.lang-ref | where:"lang", item.language %}{% endif %}{% if posts.size >= 1 %}<a href="{{posts[0].url}}"{% if page.lang == item.language %}class="active-language"{% else %}class="inactive-language"{% endif %}>{{item.display-name}}</a>{% else %}<a class="unavailable-language">{{item.language}}</a>{% endif %}{% endfor %}
      </li>
  </ul>
</nav>
