<nav role="navigation">
  <ul>

    {% assign url = page.url | split: "/" %}

    <li><a href="/" style="text-decoration:none;" {% if page.url == "/" %}class="active"{% endif %}>&#x259E;</a></li>
    <li><a href="/bio" {% if url[1] == "bio" %}class="active"{% endif %}>Bio</a></li>
    <li><a href="/notes" {% if url[1] == "notes" %}class="active"{% endif %}>Notes</a></li>
    <li><a href="/contact" {% if url[1] == "contact" %}class="active"{% endif %}>Contact</a></li>
    <li>
      <a href="/en" {% if page.url == "/en" %}class="active"{% endif %}>EN</a>/<a href="/en" {% if page.url == "/en" %}class="active"{% endif %}>ES</a>/<a href="/en" {% if page.url == "/en" %}class="active"{% endif %}>YUE</a>
    </li>
  </ul>
</nav>
